//simple component that show movie poster on DetailPage Route
<template>
  <div class="md:w-1/3 w-full">
    <img
      :src="moviePoster === 'N/A' ? img : moviePoster"
      alt="Movie poster"
      class="ml-2 w-full rounded-lg"
      style="height: 90vh"
    />
  </div>
</template>

<script>
import img from "../../assets/No-Image-Placeholder.svg.png";
export default {
  props: ["moviePoster"],
  name: "Movie_Poster",
  data() {
    return {
      img: img,
    };
  },
};
</script>
<style scoped></style>
