//Simple componenet that is used to display almost all avaiable information of
seleted Movie.
<template>
  <div class="md:w-2/3 mt-6 items-center justify-center px-8">
    <h1 class="text-4xl font-bold mb-4">{{ movie.title }}</h1>

    <p class="text-gray-700 leading-loose">Plot : {{ movie.plot }}</p>
    <hr />
    <div class="flex items-center justify-center mt-4 mb-4">
      Cast :
      <span class="bg-green-500 text-white py-1 px-2 mr-2 rounded">
        {{ movie.actors }}</span
      >
      |
      <span class="ml-2">Rated : {{ movie.rated }}</span>
    </div>

    <hr />

    <div class="flex items-center justify-center mt-4 mb-4">
      Awards :
      <span class="bg-green-500 text-white py-1 px-2 mr-2 rounded">
        {{ movie.awards }}</span
      >
      |
      <span class="ml-2">Country : {{ movie.country }}</span>
    </div>
    <hr />
    <div class="flex items-center justify-center mt-4 mb-4">
      Rating :
      <span class="bg-green-500 text-white py-1 px-2 mr-2 rounded">
        {{ movie.rating }}</span
      >
      |
      <span class="ml-2">Release : {{ movie.year }}</span>
    </div>
    <hr />
    <div class="flex items-center justify-center mt-4 mb-4">
      Runtime :
      <span class="bg-green-500 text-white py-1 px-2 mr-2 rounded">
        {{ movie.runtime }}</span
      >
      |
      <span class="ml-2">Director : {{ movie.director }}</span>
    </div>
    <hr />
    <div class="flex items-center justify-center mt-4 mb-4">
      Earning :
      <span class="bg-green-500 text-white py-1 px-2 mr-2 rounded">
        {{ movie.earning }}</span
      >
      |
      <span class="ml-2">Dvd release : {{ movie.dvd_release }}</span>
    </div>
    <hr />
    <div class="flex items-center justify-center mt-4 mb-4">
      Genre :
      <span class="bg-green-500 text-white py-1 px-2 mr-2 rounded">
        {{ movie.genre }}</span
      >
      |
      <span class="ml-2">Metascore : {{ movie.metascore }}</span>
    </div>
    <hr />
    <div class="flex items-center justify-center mt-4 mb-4">
      Language :
      <span class="bg-green-500 text-white py-1 px-2 mr-2 rounded">
        {{ movie.language }}</span
      >
      |
      <span class="ml-2"> Imdb Votes : {{ movie.imdbVotes }}</span>
    </div>
  </div>
</template>

<script>
export default {
  props: ["movie"],
  name: "Movie_Info",
};
</script>
<style scoped></style>
