// It is the main Landing Page which has Search,Sorting Functionality and
Pagination the methods it contains are search which is used to search movie from
BE gotoPage function is used to navigate through pagination,sortedMovies
function is used to sort the movies depending on selected option pages computed
function is used to get the total number of pages
<template>
  <div class="max-w-screen mx-2">
    <div
      class="flex flex-col sm:flex-row max-w-screen-lg xs:max-w-screen-2xl mx-auto mt-10 items-center mb-8"
    >
      <form
        class="flex-grow mb-4 w-full sm:mb-0 sm:mr-4"
        @submit.prevent="search"
      >
        <label
          for="default-search"
          class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white"
          >Search</label
        >
        <div class="relative">
          <div
            class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none"
          >
            <svg
              aria-hidden="true"
              class="w-5 h-5 text-gray-500 dark:text-gray-400"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
              ></path>
            </svg>
          </div>
          <input
            type="search"
            v-model="query"
            id="default-search"
            class="block w-full p-4 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg focus:outline-none"
            placeholder="Search by title....."
            required
          />
          <button
            type="submit"
            class="text-white absolute right-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
          >
            Search
          </button>
        </div>
      </form>

      <div class="flex flex-row sm:flex-row sm:space-y-0 sm:space-x-4">
        <div class="flex-grow mx-9">
          <label for="sort-by" class="block text-sm font-medium text-gray-800"
            >Sort by:</label
          >
          <select
            v-model="sortBy"
            id="sort-by"
            @change="sortedMovies"
            class="block w-full mt-1 rounded-md border-gray-300 shadow-sm focus:border-blue-300 focus:ring focus:ring-blue-200 focus:ring-opacity-50 dark:text-gray-800 dark:border-gray-600"
          >
            <option value="" selected disabled>Select</option>
            <option value="title">Title</option>
            <option value="newest">Newest Release</option>
            <option value="oldest">Oldest Release</option>
          </select>
        </div>
      </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 mx-auto">
      <Loader v-if="showLoader" />

      <div
        v-for="movie in movies"
        :key="movie.imdbID"
        class="bg-white h-full transform hover:scale-105 transition duration-300 ease-in-out"
      >
        <router-link :to="{ name: 'movies', params: { imdbID: movie.imdbID } }">
          <MovieCard :movie="movie" />
        </router-link>
      </div>
    </div>
    <div class="flex justify-center mt-8">
      <div v-if="pages.length > 1">
        <nav class="flex items-center">
          <button
            :disabled="page === 1"
            class="mr-2 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
            @click="goToPage(page - 1)"
          >
            <span class="mdi mdi-chevron-left"></span>
          </button>
          <template>
            <button
              v-for="p in pages"
              :key="p"
              :class="{ 'font-bold': p === page }"
              class="mr-2 bg-white text-gray-700 font-medium py-2 px-4 rounded"
              @click="goToPage(p)"
            >
              {{ p }}
            </button>
          </template>
          <button
            :disabled="page === pages.length"
            class="mr-2 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
            @click="goToPage(page + 1)"
          >
            <span class="mdi mdi-chevron-right"></span>
          </button>
        </nav>
      </div>
      <Alert v-if="showAlert" :msg="msg" />
    </div>
  </div>
</template>
<script>
import axios from "axios";
import Loader from "@/components/Loader.vue";
import Alert from "@/components/Alert.vue";
import MovieCard from "@/components/movieList/MovieCard.vue";

export default {
  components: {
    Loader,
    Alert,
    MovieCard,
  },
  name: "Movies_",
  data() {
    return {
      query: "",
      movies: [],
      totalResults: 0,
      page: 1,
      sortBy: "",
      filterBy: "",
      showLoader: false,
      showAlert: false,
      msg: "",
    };
  },
  methods: {
    async search() {
      this.showLoader = true;
      try {
        const response = await axios.get("https://www.omdbapi.com/", {
          params: {
            apikey: "216857f9",
            s: this.query,
            page: this.page,
            type: "movie",
            r: "json",
          },
        });

        if (response.data.Error) {
          this.msg = response.data.Error;
          this.showAlert = true;
          setTimeout(() => {
            this.showAlert = false;
          }, 1000);
        }
        this.movies =
          response.data.Search &&
          response.data.Search.map((movie) => ({
            imdbID: movie.imdbID,
            title: movie.Title,
            poster: movie.Poster,
            year: movie.Year,
            rating: movie.imdbRating || "N/A",
            runtime: movie.Runtime,
          }));
        this.totalResults = parseInt(response.data.totalResults);
        this.showLoader = false;
      } catch (error) {
        console.error(error);
        this.showLoader = false;
      }
    },
    goToPage(page) {
      this.movies = [];
      this.page = page;
      this.search();
    },
    sortedMovies() {
      if (this.sortBy === "title") {
        return this.movies.sort((a, b) => (a.title > b.title ? 1 : -1));
      } else if (this.sortBy === "newest") {
        return this.movies.sort((a, b) => b.year - a.year);
      } else if (this.sortBy === "oldest") {
        return this.movies.sort((a, b) => a.year - b.year);
      } else {
        return this.movies;
      }
    },
  },
  computed: {
    pages() {
      return Array.from(
        { length: Math.ceil(this.totalResults / 10) },
        (_, i) => i + 1
      );
    },
  },
};
</script>
