// It is Movie Detail Page where you get after click on th single card from
searched movie list It has only one function which fetchmovie to perform BE call
for getting the detail of selected movie
<template>
  <div class="bg-gray-100 py-4 min-h-screen">
    <div class="mx-auto flex flex-col md:flex-row">
      <Loader v-show="showLoader" />
      <MovieDetailPoster :moviePoster="movie.poster" />
      <MovieInfo :movie="movie" />
    </div>
  </div>
</template>

<script>
import axios from "axios";
import Loader from "@/components/Loader.vue";
import MovieDetailPoster from "@/components/movieDetail/MovieDetailPoster.vue";
import MovieInfo from "@/components/movieDetail/MovieInfo.vue";

export default {
  components: {
    Loader,
    MovieDetailPoster,
    MovieInfo,
  },
  name: "MovieDetail",
  data() {
    return {
      movie: {},
      showLoader: false,
    };
  },
  methods: {
    async fetchMovie(imdbID) {
      this.showLoader = true;

      try {
        const response = await axios.get("https://www.omdbapi.com/", {
          params: {
            apikey: "216857f9",
            i: imdbID,
            r: "json",
          },
        });
        this.movie = {
          imdbID: response.data.imdbID,
          title: response.data.Title,
          poster: response.data.Poster,
          year: response.data.Released,
          rating: response.data.imdbRating || "N/A",
          runtime: response.data.Runtime,
          plot: response.data.Plot,
          actors: response.data.Actors,
          rated: response.data.Rated,
          director: response.data.Director,
          country: response.data.Country,
          awards: response.data.Awards,
          earning: response.data.BoxOffice,
          dvd_release: response.data.DVD,
          genre: response.data.Genre,
          metascore: response.data.Metascore,
          language: response.data.Language,
          imdbVotes: response.data.imdbVotes,
        };
        this.showLoader = false;
      } catch (error) {
        console.error(error);
        this.showLoader = false;
      }
    },
  },
  created() {
    this.fetchMovie(this.$route.params.imdbID);
  },
};
</script>
