//Simple card to show movie detail of each single movie of search results
<template>
  <div class="box max-w-md mx-auto bg-white overflow-hidden max-w-2xl">
    <div class="flex">
      <div class="flex-shrink-0">
        <img
          class="h-48 w-full object-cover"
          :src="movie.poster === 'N/A' ? img : movie.poster"
          alt="Movie Poster"
        />
      </div>
      <div class="p-8">
        <div
          class="uppercase tracking-wide text-sm text-indigo-500 font-semibold"
        >
          {{ movie.title }}
        </div>

        <p class="mt-2 text-gray-500">
          {{ movie.year }}
        </p>
      </div>
    </div>
  </div>
</template>

<script>
import img from "@/assets/No-Image-Placeholder.svg.png";
export default {
  props: ["movie"],
  name: "Movie_Card",
  data() {
    return {
      img: img,
    };
  },
};
</script>
<style scoped>
.box {
  --border-size: 3px;
  --border-angle: 0turn;

  background-image: conic-gradient(
      from var(--border-angle),
      rgb(228, 225, 230),
      rgb(192, 192, 198) 50%,
      rgb(222, 219, 224)
    ),
    conic-gradient(from var(--border-angle), transparent 20%, #08f, #f03);
  background-size: calc(100% - (var(--border-size) * 2))
      calc(100% - (var(--border-size) * 2)),
    cover;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-animation: bg-spin 3s linear infinite;
  animation: bg-spin 3s linear infinite;
}
@-webkit-keyframes bg-spin {
  to {
    --border-angle: 1turn;
  }
}
@keyframes bg-spin {
  to {
    --border-angle: 1turn;
  }
}
.box:hover {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}
</style>
