// Simple Alert with appear on right bottom corner when we got unexpected
response from the server

<template>
  <div>
    <div class="absolute bottom-1 right-1">
      <div role="alert">
        <div class="bg-red-500 text-white font-bold rounded-t px-4 py-2">
          Danger
        </div>
        <div
          class="border border-t-0 border-red-400 rounded-b bg-red-100 px-4 py-3 text-red-700"
        >
          <p>{{ msg }}!</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["msg"],
  name: "Alert_",
};
</script>
