// Simple component is used to display the loader till we got answer from the
server
<template>
  <div
    class="absolute right-1/2 bottom-1/2 transform translate-x-1/2 translate-y-1/2"
  >
    <div
      class="border-t-transparent border-solid animate-spin rounded-full border-blue-400 border-8 h-64 w-64"
    ></div>
  </div>
</template>

<script>
export default {
  name: "Loader_",
};
</script>
