<template>
  <nav>
    <!-- NavBar component -->

    <header class="bg-white bg-opacity-5 text-white shadow-lg md:block">
      <div class="container mx-1 flex items-center h-22">
        <router-link to="/" class="flex py-2 items-center justify-center">
          <img
            class="h-16 rounded-2xl"
            src="@/assets/movie-app-icon-14.jpg"
            alt=""
          />
          <span class="ml-4 uppercase font-black">CinemaQuest</span>
        </router-link>
      </div>
    </header>
  </nav>
</template>

<script>
export default {
  name: "NavBar",
  data() {
    return {};
  },
};
</script>
<style scoped></style>
